@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  height: 50px;
}

.MuiDateCalendar-root.css-rbv14m-MuiDateCalendar-root *{
  color: white; /* Example style */
  font-weight: bold;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-15zwq36-MuiButtonBase-root-MuiPickersDay-root
{
  background-color: hsl(198, 94%, 51%);
  color: black;
  font-weight: bold;
}
/* Today's date */
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-1lllmhz-MuiButtonBase-root-MuiPickersDay-root{
  background-color: hsl(350, 67%, 58%);
  color: black;
  font-weight: bold;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected.MuiPickersDay-dayWithMargin.css-15zwq36-MuiButtonBase-root-MuiPickersDay-root{
  background-color: hsl(176, 97%, 51%);
  color: black;
}